    body {
        margin: 0px;
    }
    
    #container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
    }
    
    Header {
        height: 62px;
        background-color: #191c24;
    }
    
    .container {
        max-width: 1140px;
        height: 465px;
        margin: 0 auto;
    }
    
    .container p {
        font-family: 'Roboto', sans-serif;
        color: white;
        display: inline-block;
        height: 30px;
        font-weight: bold;
        font-size: 24px;
        margin-top: 15px;
    }
    
    #main-photo {
        height: 465px;
        background-color: #555555;
        background-image: url(../img/banner.png)
    }
    
    #main-photo .container {
        text-align: center;
    }
    
    #main-photo p {
        font-weight: bold;
        font-size: 55px;
        font-family: 'Roboto', sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        width: 657px;
        height: 53px;
        z-index: 77;
        margin-top: 82px;
        z-index: 1;
    }
    
    #main-photo .subtitle {
        font-family: 'Roboto', sans-serif;
        margin-top: 0px;
        font-weight: 200;
        font-size: 20px;
        width: 670px;
        text-align: center;
    }
    
    span {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    
    .button {
        border-radius: 4px;
        background-color: #83c129;
        width: 175px;
        height: 20px;
        margin-left: 405px;
        margin-top: -150px;
        padding: 15px 32px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: white;
        cursor: pointer;
        display: block;
        text-align: center;
        border-bottom: solid 4px #518719;
        font-size: 18px;
        transition: all .5s ease;
    }
    
    .button2 {
        border-radius: 4px;
        background-color: #068fd5;
        width: 120px;
        height: 20px;
        margin-left: 670px;
        margin-top: -55px;
        padding: 15px 32px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: white;
        cursor: pointer;
        display: block;
        text-align: center;
        border-bottom: solid 4px #046b9f;
        font-size: 18px;
        transition: all .5s ease;
    }
    
    .button:hover {
        border-radius: 200px;
        background-color: #456912;
    }
    
    .button:hover:after {
        transition: .5s;
        border-radius: 4px;
        background-color: #456912;
    }
    
    .button2:hover {
        border-radius: 200px;
        background-color: #035a86;
    }
    
    #menu {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        list-style-type: none;
        margin: 0;
    }
    
    #menu li a {
        text-decoration: none;
        color: white;
        display: block;
        text-align: block;
        float: right;
        padding-right: 10px;
        height: 43px;
        padding-top: 19px;
        padding-left: 10px;
        transition: all .5s ease;
    }
    
    #menu img {
        width: 15px;
        padding-right: 5px;
    }
    
    #user {
        border-right: solid 2px #2c333d;
        border-left: solid 2px #2c333d;
    }
    
    #lock {
        border-right: solid 2px #2c333d;
    }
    
    #question {
        border-left: solid 2px #2c333d;
    }
    
    #slogan {
        font-family: 'times new roman', Georgia, serif;
        font-size: 16px;
        color: #7c7d80;
        margin-left: 30px;
    }
    
    #menu li a:hover {
        background-color: #000000;
    }
    
    #content {
        margin-top: 70px;
        height: 735px;
        background-color: #fff;
    }
    
    .block {
        border-radius: 3px;
        width: 350px;
        height: 275px;
        background-color: white;
        border: solid 1.5px #d9dbdf;
        margin-top: 0px;
        z-index: 3;
        position: absolute;
        transition: all .5s ease;
        cursor: pointer;
    }
    
    .block:hover {
        background-color: #efefef;
        margin-top: -5px;
    }
    
    .block p {
        font-family: 'Roboto', sans-serif;
        color: #454e5c;
        font-weight: bold;
        margin-left: 80px;
    }
    
    .caption {
        font-family: 'Roboto', sans-serif;
        color: #454e5c;
        font-weight: lighter;
        margin-top: -10px;
        margin-left: 80px;
        color: #9da3a9;
    }
    
    .block2 {
        margin-left: 2.5px;
        border-radius: 3px;
        width: 345px;
        height: 275px;
        background-color: white;
        border: solid 1.5px #d9dbdf;
        margin-top: 4px;
        z-index: 2;
        position: absolute;
        cursor: pointer;
    }
    
    .block3 {
        margin-left: 5px;
        border-radius: 3px;
        width: 340px;
        height: 275px;
        background-color: white;
        border: solid 1.5px #d9dbdf;
        margin-top: 8px;
        z-index: 1;
        position: absolute;
        transition: all .5s ease;
        cursor: pointer;
    }
    
    .block3:hover {
        margin-top: 13px;
    }
    
    .Shadowblock1 {
        float: left;
        margin-top: 45px;
        width: 350px;
        height;
        283px;
        margin-left: 70px;
    }
    
    .Shadowblock2 {
        float: left;
        margin-top: 10px;
        width: 350px;
        height;
        283px;
        margin: 45px;
    }
    
    .Shadowblock3 {
        float: left;
        margin-top: 45px;
        width: 350px;
        height;
        283px;
        margin-right: 70px;
    }
    
    .foto1 {
        background-image: url(../img/img1.png);
        width: 319px;
        height: 180px;
        margin: 15px;
    }
    
    .foto2 {
        background-image: url(../img/img2.png);
        width: 319px;
        height: 180px;
        margin: 15px;
    }
    
    .foto3 {
        background-image: url(../img/img3.png);
        width: 319px;
        height: 180px;
        margin: 15px;
    }
    
    .line {
        background-color: rgb(149, 149, 149);
        opacity: 0.4;
        box-shadow: 0px 1px 0px 0px rgba(142, 149, 156, 0.004);
        width: 1140px;
        height: 2px;
        margin-top: 400px;
        margin-left: 70px;
        margin-bottom: 30px;
    }
    
    .line1 {
        background-color: rgb(149, 149, 149);
        opacity: 0.4;
        box-shadow: 0px 1px 0px 0px rgba(142, 149, 156, 0.004);
        width: 1140px;
        height: 3px;
        margin-top: 150px;
        margin-left: 70px;
    }
    
    .ava {
        background-image: url(../img/ava1.png);
        width: 50px;
        height: 50px;
        margin-left: 15px;
        float: left;
    }
    
    .ava1 {
        background-image: url(../img/ava2.png);
        width: 50px;
        height: 50px;
        margin-left: 15px;
        float: left;
    }
    
    .ava2 {
        background-image: url(../img/ava3.png);
        width: 50px;
        height: 50px;
        margin-left: 15px;
        float: left;
    }
    
    .circle1 {
        background-image: url(../img/circle3.png);
        height: 89px;
        background-repeat: no-repeat;
        width: 395px;
        margin-left: 70px;
        float: left;
        transition: 200ms;
        transition-timing-function: ease-in-out;
        -webkit-transition: 200ms;
        -webkit-transition-timing-function: ease-in-out;
        cursor: pointer;
    }
    
    .circle1:hover {
        background-color: #f5f5f5;
        border-radius: 10px;
    }
    
    .circle1 p {
        margin-left: 120px;
        font-family: 'Open Sans', sans-serif;
        margin-top: 10px;
        color: #656e7a;
    }
    
    .circle2 {
        background-image: url(../img/circle1.png);
        height: 89px;
        background-repeat: no-repeat;
        width: 395px;
        float: left;
        cursor: pointer;
    }
    
    .circle2:hover {
        background-color: #f5f5f5;
        border-radius: 10px;
    }
    
    .circle2 p {
        margin-left: 120px;
        font-family: 'Open Sans', sans-serif;
        margin-top: 10px;
        color: #656e7a;
    }
    
    .circle3 {
        background-image: url(../img/circle2.png);
        height: 89px;
        background-repeat: no-repeat;
        width: 395px;
        float: left;
        cursor: pointer;
    }
    
    .circle3:hover {
        background-color: #f5f5f5;
        border-radius: 10px;
    }
    
    .circle3 p {
        margin-left: 120px;
        font-family: 'Open Sans', sans-serif;
        margin-top: 10px;
        color: #656e7a;
    }
    
    #light {
        color: #b8bdc5;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        margin-left: 120px;
        margin-bottom: -20px;
        margin-top: 10px;
    }
    
    #logos p {
        margin-left: 70px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        margin-top: 5px;
        float: left;
    }
    
    #logo1 {
        width: 275px;
        transition: 200ms;
        transition-timing-function: ease-in-out;
        -webkit-transition: 200ms;
        -webkit-transition-timing-function: ease-in-out;
        cursor: pointer;
    }
    
    svg:hover #logo1 {
        fill: #454e5c;
    }
    
    #logo2 {
        width: 100px;
        fill: #c6cacc;
        transition: 200ms;
        transition-timing-function: ease-in-out;
        -webkit-transition: 200ms;
        -webkit-transition-timing-function: ease-in-out;
        cursor: pointer;
    }
    
    svg:hover #logo2 {
        fill: #454e5c;
    }
    
    #logo3 {
        width: 35px;
        fill: #c6cacc;
        transition: 200ms;
        transition-timing-function: ease-in-out;
        -webkit-transition: 200ms;
        -webkit-transition-timing-function: ease-in-out;
        cursor: pointer;
    }
    
    svg:hover #logo3 {
        fill: #454e5c;
    }
    
    #logo4 {
        fill: #c6cacc;
        width: 350px;
        transition: 200ms;
        transition-timing-function: ease-in-out;
        -webkit-transition: 200ms;
        -webkit-transition-timing-function: ease-in-out;
        cursor: pointer;
    }
    
    svg:hover #logo4 {
        fill: #454e5c;
    }
    
    #logos svg {
        float: left;
        margin-left: 40px;
    }
    
    #logos {
        margin-top: 60px;
    }
    
    .footertext1 {
        margin-top: 40px;
    }
    
    footer {
        height: 225px;
        background-color: #191d24;
        margin-top: 150px;
    }
    
    footer li {
        list-style-type: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin-top: 5px;
    }
    
    footer li a {
        text-decoration: none;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        color: grey;
        transition: all 0.2s ease-in-out;
    }
    
    footer ul {
        float: left;
        margin-right: 80px;
        margin-top: -100px;
    }
    
    .footer {
        float: left;
        margin-left: 30px;
        margin-top: 150px;
    }
    
    .white {
        margin-bottom: 20px;
    }
    
    footer li a:hover {
        color: white;
        transition: all 0.2s ease-in-out;
    }
    
    #footertekst {
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: #565b62;
        float: right;
        margin-top: 150px;
        margin-right: 70px;
        text-align: right;
    }
    
    #social {
        float: right;
        margin-right: -175px;
    }
    
    #social img {
        margin-top: 40px;
        margin-left: 10px;
    }
    
    #facebook {
        width: 20px;
        transition: all 0.3s ease-in-out;
    }
    
    #facebook:hover {
        filter: brightness(80%);
        transform: scale(1.3);
        transition: all 0.3s ease-in-out;
    }
    
    #twitter {
        width: 20px;
        transition: all 0.3s ease-in-out;
    }
    
    #twitter:hover {
        filter: brightness(80%);
        transform: scale(1.3);
        transition: all 0.3s ease-in-out;
    }
    
    #vimeo {
        width: 20px;
        transition: all 0.3s ease-in-out;
    }
    
    #vimeo:hover {
        filter: brightness(80%);
        transform: scale(1.3);
        transition: all 0.3s ease-in-out;
    }