body {
    margin-top: 50px;
}

.business-header {
    height: 450px;
    background-image: url(../img/studio1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.h1, h1 {
    font-family: 'Avenir LT Std 85 Heavy';
    color: white;
    margin-top: 50px;
}

.bannertext {
    font-family: 'Avenir LT Std 45 Book';
    color: white;
    font-size: 18px;
}